.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  min-height: 100vh;
}

.post {
  max-width: 720px;
  margin: 5rem auto 0;

  .postContent {
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1.125rem;

    color: var(--black);

    p,
    ul {
      margin: 1.5rem 0;
    }

    ul {
      padding-left: 1.5rem;

      li {
        margin: 0.5rem 0;
      }
    }

    img {
      max-width: 100%;
    }
  }

  .author {
    margin: 1rem auto 0;
    padding: 2rem;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    img {
      max-width: 128px;
      border-radius: 50%;
    }

    strong {
      display: block;
      font-size: 1.5rem;
      margin: 2rem;
      text-align: center;
    }
  }
}

.navPosts {
  margin-top: 3rem;

  width: 100%;

  display: flex;
  justify-content: space-between;

  .previousPost,
  .nextPost {
    width: 40%;

    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .title,
    strong {
      font-size: 1.125rem;
      line-height: 1.125rem;
    }

    .title {
      color: var(--heading);
    }

    strong {
      margin-top: 0.5rem;

      display: block;

      color: var(--highlight);
      font-weight: 600;
    }

    &:hover {
      filter: brightness(0.8);

      strong {
        text-decoration: underline;
      }
    }
  }

  .nextPost {
    align-items: flex-end;
    text-align: end;
  }
}
